<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form Nome</title>
    </head>
    <body>
        <form id="nomeForm" method="post">
            <label for="nome">Inserisci il tuo nome:</label><br>
            <input type="text" id="nome" name="nome" placeholder="Il tuo nome" required><br><br>
            <button type="submit">Invia</button>
        </form>

        <script src="../logic/login.js"></script> 
    </body>
</html>