<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../logic/homePage.js"></script>

    <title>Tris - Homepage</title>
</head>
<body>
    <h1>Tris - Homepage</h1>
    <button onclick="createNewGame()">Crea Nuova Partita</button>

    <h2>Partite in Attesa</h2>
    <div class="game-list" id="gameList">
        <!-- Le partite verranno generate dinamicamente -->
        <!-- Esempio di una partita -->
    </div>
</body>
</html>
